@import 'bootstrap';
@import './actiontext.scss';


.navbar-brand{
  margin-left: 20px;
}

.nav-item.dropdown {
  margin-right: 80px;
}

.form-select.is-valid{
  background-image: none !important;
  }

.form-control.is-valid{
  background-image: none;
  }